<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.WhoIsSmarter">

    <application
        android:allowBackup="true"
        android:icon="@drawable/eucliwood"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CategoryActivity" />
        <activity android:name=".Activity.GameNormalActivity" />
        <activity android:name=".Activity.GameInfiniteActivity" />
        <activity android:name=".Activity.MusicNormalActivity" />
        <activity android:name=".Activity.MusicInfiniteActivity" />
        <activity android:name=".Activity.GeneralNormalActivity" />
        <activity android:name=".Activity.GeneralInfiniteActivity" />
        <activity android:name=".Activity.EnglishNormalActivity" />
        <activity android:name=".Activity.SportNormalActivity" />
        <activity android:name=".Activity.SportInfiniteActivity" />
        <activity android:name=".Activity.ComputerNormalActivity" />
        <activity android:name=".Activity.ComputerInfiniteActivity" />
        <activity android:name=".Activity.AboutMeActivity" />
        <activity android:name=".Activity.GameWonActivity" />
        <activity android:name=".Activity.EnglishPuzzleActivity" />

        <service
            android:name=".ThemeSongService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>